/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  
}

/* Basic styles for the body */
html body {
  /* font-family: Arial, sans-serif; */
  line-height: 1.6;
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;

  margin: 0;
  max-width: 100% ;
  zoom: 1.0 ;
  width: 100%;

}

/* Header styles */
header {
  background-color: #ffffff;
  color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
}


/* Style all headings (h1, h2, h3) */
h1, h2, h3 {
  font-family: 'Arial', sans-serif;
  margin: 20px 0;
  text-align: center;
}

/* Styles for h1 */
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #007bff, #00bfff);
  -webkit-background-clip: text;
  color: transparent;
}

/* Styles for h3 */
h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Style for social network icons */
.social-network {
  list-style: none;
  padding: 0;
  margin: 1rem;
}

.social-network li {
  display: inline-block;
  margin-right: 10px;
}

.social-network a {
  display: inline-block;
  font-size: 24px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(45, 45, 45, 0.5);
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.social-network a:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

/* Navbar styles */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  padding: 0px 0px;
  max-width: 1200px;
}

/* Navigation list styles */
.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
  display: flex;
}

/* Individual list item styles */
.nav-list li {
  margin-right: 0;
  margin: 0 0 0 24px;
  font-size: 18px;
}

/* Anchor link styles */
.nav-list a {
  text-decoration: none;
  color: #00b359;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Logo styles */
.logo {
  margin-right: 18em;
}

.logo img {
  width: auto;
  height: auto;
}

/* Anchor link hover styles */
.nav-list a:hover {
  color: #ffd700;
}

/* Logo styles */

/* Fonts */

/* Main content styles */
.main {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
a.logo.animate__animated.animate__fadeInDown {
  padding-left: 25px;
}
.container.wow.animate__animated.animate__zoomIn {
  padding-top: 0rem;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  height: 3px;
  background-color: #202020;
  margin: 6px 0;
  transition: 0.4s;
}

@media (max-width: 1023px) {
  /* Show the hamburger menu on mobile screens */
  .mobile-menu {
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
    width: 50px;
    height: 20px;
    cursor: pointer;
    z-index: 997;
  }

  .hamburger {
    width: 30px;
    height: 3px;
    background-color: #202020;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate and transition the hamburger icon for mobile menu toggle */
  .mobile-menu.active .hamburger:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .mobile-menu.active .hamburger:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu.active .hamburger:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Show the navigation links when the hamburger menu is active */
  .nav-list {
    display: none;
    background-color: #5c5a5a;
    position: fixed;
    top: 46px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    transition: left 0.4s ease-in-out;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Style the individual navigation links in the mobile menu */
  .nav-list.active li {
    margin: 10px 0;
  }
}
.slide-show {
  margin: 0px;
    /* border: 3px none #000000; */
    /* -moz-animation: wrapper 3s forwards;
    -webkit-animation: wrapper 3s forwards;
    -ms-animation: wrapper 3s forwards;
    animation: wrapper 3s forwards; */
    height: 640px;
    left: 0;
    opacity: 1;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}
.overlay {
  margin: 0px;
  padding: 0px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  z-index: 100;
}
.tech-slideshow {
  height: 900px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  color: #1a1a1a;
  
}

.tech-slideshow > div {
  height: 950px;
  width: 6526px;
  background: url(img/srollbg.jpg);
  position: absolute;
  top: -148px;
  left: 0px;
  height: 828px;
  background-size: 2338px auto;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 72s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 0;
  animation: moveSlideshow 72s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}
/* Overlay for Frame */
.frame::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translate3d(0,0,0);
}

/* .background {
  background-image: url("img/srollbg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: repeat;
  background-origin: border-box;
  text-align: center;
  height: 69vh;
  width: auto;
  position: absolute;
  animation: slideShow 20s linear infinite;
} */

@keyframes slideShow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Info section */
.info {
  backface-visibility: visible;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 20px; */
  text-align: center;
  z-index: 101;
}

.row {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

/* Style the section */
#services {
  background-color: #f4f3f3;
  text-align: center;
  padding: 132px 0;
}

/* Style the container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 7rem 0rem 0rem 0rem;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

/* Style the description paragraph */
.description p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.description a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

/* Create a container for services */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 0rem;
}

.services-container p {
  text-align: justify;
}
@media (max-width: 768px) {
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem; /* Adjust as needed */
    flex-direction: column;
  }
}
.service {
  flex: 0 0 calc(41.3333% - 13%);
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  padding: 0px;
  border-radius: 11px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.service a {
  text-decoration: none;
  color: inherit;
}

.service img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.service h2 {
  font-size: 110%;
  margin-top: 11px;
  margin-bottom: 13px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.service:hover h2 {
  color: #007bff;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .service {
    flex-basis: calc(50% - 20px);
  }
}

/* Contact Form Styles */
.contact-form {
  width: min-content;
  max-width: 75%;
margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 576px) {
  /* Make the contact form container full-width on mobile devices */
  .contact-form {
    max-width: 100%;
  }
}
.contact-name {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  max-width: -webkit-fill-available;
}
span#getinformationLabel {
  max-width: -webkit-fill-available;
}
.contact-name:focus {
  outline: none;
  border-color: #007bff;
}
label {
  float: left;
}
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: vertical;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
}
input,
textarea {
  width: 100%;
}
input[type="checkbox"] {
  margin-right: 5px;
}


/* Style the pure-group fieldset */
.pure-group {
  border: 0px solid #3498db; /* Border color */
  padding-top: 10px;
  background-color: #f5f5f5;/* Background color */
}

/* Style the legend (if used) */
.pure-group legend {
  font-weight: bold;
  color: #3498db; /* Legend text color */
  margin-bottom: 10px;
}

/* Style the input elements inside the pure-group */
.pure-group input[type="text"],
.pure-group input[type="email"],
.pure-group input[type="password"],
.pure-group textarea,
.pure-group select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc; /* Input border color */
  border-radius: 5px; /* Rounded input corners */
}

/* Style labels for the input elements */
.pure-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Label text color */
}

/* Style radio buttons and checkboxes within the pure-group */
.pure-group input[type="radio"],
.pure-group input[type="checkbox"] {
  margin-right: 5px;
}

/* Style links within the pure-group */
.pure-group a {
  color: #3498db; /* Link text color */
  text-decoration: none;
}

.pure-group a:hover {
  text-decoration: underline; /* Underline on hover */
}



/* Submit Button Styles */
.btn-common {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: -webkit-fill-available;
}

.btn-common:hover {
  background-color: #0056b3;
}

#ContentPlaceHolder2_errorLabel {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

/* Styling for the Info Section */
.icons-list li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 8px;
  line-height: 1.3;
}

/* Styling for the Address & Contact Gegevens Section */
.column-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 12px;
}

/* Styling for the Openingstijden Section */
.list-unstyled li {
  font-size: 14px;
  margin-bottom: 8px;
}

/* Styling for the Google Map Section */
iframe {
  width: 178%;
  height: 300px;
  border: none;
  border-radius: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem 1rem 2rem -1rem;
}

.section-header p {
  text-align: justify;
}

form.gform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: baseline;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1px;
  border: none;
  border-bottom: none;
}

tr,
td {
  border: 1px solid rgb(253, 253, 253);
  /* padding: 5px; */
  border: none;
  border-bottom: none;
}

th {
  background-color: #eee;
  font-weight: bold;
  float: left;
  
}
tr:hover {
  background-color: #ffffff;
}
tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  float: left;
}

input[type="checkbox"]:checked {
  background-color: green;
}

/* Mobile compatibility */

@media (max-width: 576px) {
  table {
    width: 100%;
  }

  th,
  td {
    width: auto;
  }
}


.row img {
  margin: 1rem;
}

/* Footer container styles */
.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 0;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10rem;
}

/* Style the <a> element */
a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
  transition: transform 0.2s;
}

/* Change link color on hover */
a:hover {
  color: #00b359;
}

/* Add a hover effect to scale the link slightly */
a:hover {
  transform: scale(1.05);
}

/* Center the content within the footer */
.container {
  max-width: 1200px;
}

/* Copyright section styles */
.copyright-section {
  opacity: 0.9;
  padding: 4px 0;
  font-size: 11px;
  letter-spacing: 0.5px;
  border-top: 1px solid rgba(255, 255, 255, .06);
}

/* Copyright text styles */
.copyright-section p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Footer navigation styles */
.footer-nav {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #00b359;
}

/* Center the disclaimer container */
.disclaimer-container {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 940px;
  padding: 20px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

/* Style the headers */
.disclaimer-container b {
  font-weight: bold;
  color: #007bff;
}

/* Style the list items with icons */
.disclaimer-container ul {
  list-style: none;
  padding-left: 0;
}

.disclaimer-container ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.disclaimer-container ul li::before {
  content: "\2022";
  color: #007bff;
  position: absolute;
  left: 0;
}

/* Style lines starting with numbers */
.disclaimer-container p {
  text-indent: 0;
}

.disclaimer-container p::first-line {
  font-weight: bold;
  color: #007bff;
}

/* Style links */
.disclaimer-container a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 1px solid #007bff;
  transition: border-bottom 0.3s;
}

.disclaimer-container a:hover {
  border-bottom: 2px solid #007bff;
}
